.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  font-size: 30px;
}

.Submit-button-container {
  padding: 10px 0;
}
